.fillWordmain{
  display: flex;
  justify-content: space-around;
  margin: 20px;
  width: 100%;
}

.fillword {
  margin: auto;
  width: 100%;
  max-width: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fillword_cell {
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  touch-action: none;
  color: #fff;
  font-family: Arial;
  font-weight: 600;
  -webkit-text-stroke: 1.2px #434343;
}

.fillword_field {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  touch-action: none;
}

.fillword_color {
  background-color: aqua;
}

.textarea{
  width: 200px;
  height: 200px;
}